.root{
    -fx-background-color: linear-gradient(to bottom, #443D40, #494954);
}
.button{
    -fx-border-radius: 0;
}
#topBar{
    -fx-background-color: #1c1c1c;
}
#minimizeButton{
    -fx-background-color:#1c1c1c;
}
#maximizeButton{
    -fx-background-color:#1c1c1c;
}
#closeButton{
    -fx-background-color:#1c1c1c;
}
#appNameLabel{
    -fx-text-fill: rgb(128, 128, 128);
    -fx-font-family: Inter;
    -fx-font-weight: bold;
}
#minimizeButton:hover{
    -fx-background-color: #3a3939;
    -fx-opacity: 0.6;
    -fx-border-color: #724872;
}
#maximizeButton:hover{
    -fx-background-color:#3a3939;
    -fx-opacity: 0.6;
    -fx-border-color: #724872;
}
#closeButton:hover{
    -fx-background-color: #ff3a3a;
    -fx-border-color: #ff3a3a;
}
