#doneBorderPane{
    -fx-background-color: linear-gradient(to bottom, #443D40, #494954);
    -fx-effect: dropshadow(gaussian,rgba(0, 0, 0, 0.5), 30, 0, 0, 0);
    -fx-background-radius: 12;
    -fx-pref-width: 800;
    -fx-max-width: 800;
    -fx-pref-height: 600;
    -fx-max-height: 600;
}
#ImagePaneLogo{
    -fx-background-color: #252121;
    -fx-pref-width: 500;
    -fx-max-width: 500;
    -fx-background-radius: 0 12 12 0;
}
#ticketInfoPane{
    -fx-pref-width: 300;
    -fx-max-width: 300;
}
#infoLabel10{
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}
#againButton{
    -fx-background-color: transparent;
}
#buttonBox{
    -fx-pref-width: 300;
    -fx-max-width: 300;
}