#generatorControlContainer1,#generatorControlContainer2{
    -fx-background-color:  linear-gradient(to bottom, #524b4e, #686870);
    -fx-effect: dropshadow(gaussian,rgba(0, 0, 0, 0.5), 30, 0, 0, 0);
    -fx-max-height: 280;
    -fx-pref-height: 280;
    -fx-pref-width: 850;
    -fx-max-width: 850;
    -fx-background-radius: 12;
}
#top1{
    -fx-pref-width: 280;
    -fx-max-width: 280;
    -fx-background-radius: 6;
    -fx-pref-height: 45;
    -fx-max-height: 45;
    -fx-background-color: #494954;
    -fx-effect: dropshadow(gaussian,rgba(0, 0, 0, 0.5), 30, 0, 0, 0);
}
#l1{
    -fx-font-size: 10;
    -fx-text-fill: #E6E2E3;
    -fx-font-family: Verdana,sans-serif;
    -fx-font-weight: bold;
}
#l2{
    -fx-font-size: 12;
    -fx-text-fill:  #E6E2E3;
    -fx-font-family: Verdana,sans-serif;
    -fx-font-weight: bold;
}
#h1,#h2,#h3{
    -fx-background-color:rgba(37, 33, 33, 0.49);
    -fx-effect: dropshadow(gaussian,rgba(0, 0, 0, 0.5), 30, 0, 0, 0);
    -fx-background-radius: 8;
    -fx-pref-width: 800;
    -fx-max-width: 800;
    -fx-pref-height: 40;
    -fx-max-height: 40;
}
#info1,#info2,#info3{
    -fx-font-family: Verdana,sans-serif;
    -fx-font-size: 12;
    -fx-text-fill: #E6E1E5;
}
#info1Detailed,#info2Detailed,#info3Detailed{
    -fx-font-size: 10;
    -fx-text-fill: #E6E1E5;
    -fx-font-family: Verdana,sans-serif;
}
#comboTable{
    -fx-background-color:transparent;
    -fx-pref-width: 170;
    -fx-pref-height: 40;
    -fx-max-width: 170;
    -fx-max-height: 40;
    -fx-effect: null;
    -fx-background-radius: 12;
}
.combo-box .arrow{
    -fx-background-color: white;
}
.combo-box .list-cell:filled:selected,.combo-box .list-cell:filled{
    -fx-text-fill: #E6E1E5;
    -fx-font-family: Verdana,sans-serif;
}
.combo-box-popup .list-view{
    -fx-text-fill: #E6E1E5;
    -fx-control-inner-background:rgba(37, 33, 33, 0.49);
    -fx-border-color: rgba(37, 33, 33, 0.49);
}
.combo-box-popup .list-cell:selected:filled{
    -fx-background-color: #383636;
}
.combo-box-popup .list-cell:hover{
    -fx-background-color: #383636;
}
#pane1{

}
#r1{
    -fx-pref-width: 300;
    -fx-max-width: 300;
}
#r2{
    -fx-pref-width: 490;
    -fx-max-width: 490;
}
#r3{
    -fx-pref-width: 427;
    -fx-max-width: 427;
}
